.register-content {
    max-width: 1230px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}


.register-content__header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}

.register-form {
    width: 100%;
    margin: 0 auto;
}

.register-form__name input,
.register-form__email input,
.register-form__password input {
    border: 2px solid #929292;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #5a5858;
    padding: 15px;
    width: 35%;
    margin-bottom: 5px;
}

.login-form__error {
    width: 35%;
    color: red;
    margin: 0 auto 15px;
    height: 35px;
    text-align: left;
    padding-left: 5px;
}

.register-form__button button {
    border: none;
    border-radius: 5px;
    background-color: #224ce0;
    color: #fff;
    padding: 15px;
    width: 35%;
    margin-bottom: 40px;
}

.login-form span {
    color: #929292;
    font-size: 12px;
}

.login-form__button a {
    text-decoration: none;
    color: #224ce0;
    font-size: 14px;
}


@media screen and (max-width: 768px) {

    .register-form__email input,
    .register-form__password input {
        width: 50%;
    }

    .register-form__button button {
        width: 50%;
    }
}

@media screen and(max-width: 480px) {}